*{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6{
    margin:0px;
    padding: 0px;
}

.empty-cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 483px;
    padding: 50px;
}


.empty-cart-container__cart-icon{
    font-size:125px;
}

.empty-cart-container__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-container__title p{
    font-size:23px;
    margin: 0px;
}

.btn-shopping{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #333;
    color: white;
    font-size: 20px;
    margin: 20px 0px;
    padding: 0.5em 1em;
    border: 1px solid #333;
}

.btn-shopping:hover {
    background:#e7e7e7;
    color: #333;
    transition: all ease-in 300ms;
}

.cart-container{
    position: relative;
    width: 1400px;
    margin:50px auto 0px;
}

.cart-container__cart-table-container{
    width: 100%;

}


.cart-container__cart-table-container th{
    padding: 10px 8px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    background: #FFF;
}

.cart-container__cart-table-container .cart-table-container__cart-name{
    text-align: center;
}



.cart-container__cart-table-container  thead{
    width: 100%;
    border-bottom: 1px solid #ededed;
}


.cart-container__cart-table-container  tr{
    border: 1px solid #ededed;
}

/*  Cart Coupon */

.cart-coupon_area{
    padding: 0px 50px 0px;
}

.cart-content{
    padding: 25px 0px 50px;
}

.cart-coupon_code{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .cart-coupon_code input{
    outline: none;
    overflow: hidden;
    background: none;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid #333;
    border-top-style: none ;
    border-left-style: none;
    border-right-style: none;
    border-left-style: none;    
} */


.btn-checkout , .btn-clear{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #333;
    color: white;
    font-size: 20px;
    padding: 0.5em 2em;
    border: 1px solid #333;
    
}

.btn-checkout:hover, .btn-clear:hover{
    background:#e7e7e7;
    color: #333;
    transition: all ease-in 300ms;
}

.cart-voucher-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    
}

.cart-total, .cart-discount, .cart-voucher_name{
    font-size: 17px;
    font-weight: 700;
    color:#333;
    padding: 12px 12px 5px 10px;
}

.cart-voucher-left{
    width: 700px;
}

.cart-voucher-right{
    width: calc(100% - 700px);
    background: #F7F7F7;
    padding:40px;
}

.cart-voucher-place{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-voucher-place button{
    margin-left: 10px;
}
/* Footer - Space */

.footer-bg{
    background: #f8f8f8;
}


.footer-purpot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    
}

.cart-total, .cart-discount{
    font-size: 17px;
    font-weight: 700;
    color:#333;
    padding: 12px 12px 5px 10px;
}

.cart-voucher-right{
    background: #F7F7F7;
    padding:40px;
}
