body,h1,h2,h3,h4,h5,h6{
  margin:0px !important;
  padding:0px !important;
}

.admin-changepassword_container{
  background: #e7e7e7;
  padding:15px;
  margin-top: 30px;
  width: 100%;
}

.admin-changepassword_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}