
body,h1,h2,h3,h4,h5,h6{
  margin:0px;
  padding:0px;
}

.logo-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-user_title{
  display: flex;
  justify-content: center;
  align-items: center;
}
