@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
* {
    box-sizing: border-box;
  }
  
  body, p, h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/* Header */

.whole-container{
  background-image: url('/src/images/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.header-container{
  width: 100%;
  height: 100px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content img{
  margin: 30px 0px;
  width: auto;
  height: 30px;
  cursor: pointer;
}



.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 6px 8px 9px ;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
  width: 100px;
  height: 40px;
  /* background:linear-gradient(45deg, #A82654, #FD8C69); */
}


  .login-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  24px;
    width: 400px;
    height: 500px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   
  }

  .login-content h1{
      font-size: 40px;
      font-weight: 600;
      color: white;
     
  }

  .text-input{
    position: relative;
    border-bottom: 3px solid #E0FFFF;
    padding: 8px 30px;
    overflow: hidden;
    width: 100%;
  }

  .text-input i{    
    position:absolute;
    top: 18px;
    left: 2px;
    width: 36px;
    height: 80px;
    color: white;
  }

  .text-warningh{
    position: relative;
    /* top:30px; */
    color:#ffc107
  }

  .text-input input{
    margin: 0px 10px;
    background: none;
    outline: none;
    border:none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
   padding: 10px 10px ;
   transition: all ease-in-out .35s;
  }

  .icon{
    position: absolute;
    top:20px;
    left:0px
  }

 
 .form-active{
    display: flex;
    position: relative;
    top: 20px;
 }


 .form-active p:hover{
     color:#E0FFFF;
    cursor: pointer;    
}
 
.button-login {
  display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.btn-login{
  margin-top: 40px;
  padding:  9px;
  border-radius: 5px 10px;
  background:#e7e7e7;
  color: #333;
  font-size: 23px;
  font-weight: 600;
  width: 100%;
}

  .btn-login:hover{
    /* background: #D1EEEE; */
    background: #333;
    color: #e7e7e7;
    transition: all ease-in-out .55s;

  }

 /* Form Social */
 .form-contact-tilte{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100px;
 }

 .form-contact-tilte h6{
   position: absolute;
   top: 20px;
   color: #fff;
 }

 .form-social {
   position: absolute;
   top: 60px;
   cursor: pointer;
 }

 .form-social img{
   margin: 0px 10px;
 }


/* Footer */
  .footer-container{
    background-color:#262525;
    width: 100%;
  }

  .footer-title{
    display: flex;
    justify-content: center;
    color: #757575;
    font-size: 25px;
  }

  .footer-container .footer-title:hover , .footer-item:hover{
    color: #E0EEEE;
    cursor: pointer;
  }

  .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-menu{
    list-style-type: none; ;
  }

  .footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .footer-link img{
    margin: 10px 15px;
    width: 40px;
    cursor: pointer;
  }


  .footer-item{
    display: flex;
    justify-content: center;
    color: #757575;
    font-size: 18px;
  }

  .footer-social{
    padding: 10px 25px;
  }


  /* Helper Class */

  .spacing-text{
      margin: 0px 40px;
  }