*{
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding:0px
}


.comment-container{
  margin-top: 10px;
  width: 100%;
}

.comment-content{
  display: flex;
  border-top: 1px #874d00 solid;
  padding: 7px 0px;
}

.comment-text{
  font-weight: bold;
}

.comment-side-left{
  width: 200px;
}

.comment-side-left>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-user{
  font-size: 20px ;
  color:#333;
  font-weight: 600;
  padding-left:10px;
  /* display: flex; */
  align-items: center;
}

.comment-side-right{
  width: calc(100% - 500px);

 
}

.comment-opinion{
  display: flex;
}

.comment-opinion p{
  display: flex;
  align-items: center;
  font-size: 17px;
  color:#333;
  font-weight: 700;
  margin: 0px 20px;
  padding: 5px 15px;
}

