/* .cart-table{
    border: 1px solid #e7e7e7;
    width: 100%;
}

.cart-table th{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333;
    background: #FFF;
    padding: 10px 8px;
}

.cart-table thead{
    width: 100%;
    border: 1px solid #e7e7e7;
} */

.cart-thumbnail {
    width: 250px;
}

.cart-thumbnail img{
    width: auto;
    height: 150px;
    margin: 0px  30px 0px 20px;
}

 /* .minus-btn,.plus-btn{
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: #333;
    outline: none;
    color:white;
    font-size: 15px;
    margin:0px 5px;
} */

.minus-btn:hover, .plus-btn:hover{
    transition: all 0.3s;
    background-color:whitesmoke;
    color: black;
    border: 1px solid black;
 
}

.plus-cart-minus input{
    width: 100px;
    background:none;
    outline: none;

}

.minus-btn , .plus-btn{
    width: 26px;
    border-radius: 5px;
    font-size: 15px;
    /* font-weight: 600; */
    background-color: #333;
    /* outline: none; */
    color:white;
    font-size: 18px;
    margin:0px 5px;
    /* padding: 0px 1px; */
}

.delete-product {
    border:2px solid red;
    color:red;
    /* width: auto; */
    width: 35px;
    height: 35px;
    outline: none;
    background: white;
    
}


.product-remove button:hover{
    content: '';
    border-color: red;
    color:white;  
    transition: all ease-in-out 500ms;
    background: red;
}

.plus-minus-cart-box{
    text-align: center;
}

hr{
    display: none;
}