/* BANNER */

.main-container__banner {
  position: relative;
  text-align: center;
}

.banner__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/images/cartbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  height: 250px;
  max-width: 100%;
}

.bg__title {
  /* model */
  position: absolute;
  /* width: 1400px; */
  text-align: start;
  left: 13%;
  /* transform: translateX(4px); */
}

.breadcrumb-container h4 {
  cursor: pointer;
}

.breadcrumb-container, .breadcrumb-container>span {
  display: flex;
  align-items: center;
}

.breadcrumb-container>span {
  font-weight: bold;
}